<div
  class="container d-flex flex-column align-items-center justify-content-center w-100 h-100"
>
  <div class="w-25 p-3 mb-4 border rounded">
    <div class="form-group my-2">
      <label for="userName" class="form-label">Enter UserName:</label>
      <input type="text" [(ngModel)]="userName" class="form-control" />
    </div>
    <div class="d-grid">
      <button (click)="openChosePetModal()" class="btn btn-primary my-2">
        Choose Pet
      </button>
    </div>
  </div>

  <p *ngIf="retrivedFavPet">
    Your favourite pet is <mark>{{ retrivedFavPet }}</mark>
  </p>
</div>
